{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <div class="row">
      <div class="col-sm">
        
<div class="container">
    <div class="row">
        <div class="col-6">
          <button class="btn btn-primary btn-sm" onclick="popperOpen(true)">Map view</button>
            {% for daycare in daycares %}
            <div class="card" id="myul">
                <div class="card-body row" id="list{{loop.index}}">
                    <div class="col-8">
                        <h5 class="card-title">{{ daycare.name }}</h5>
                        <div class="card-text">Type: {{ daycare.about }}</div>
                        <div>Address: {{ daycare.full_address() }}</div>
                        <div>Phone no.: {{ daycare.phone_no }}</div>
                        <div>Timings: {% if daycare.opening_time %}{{ daycare.opening_time }} {% else %} 8:00 AM {% endif %} - {% if daycare.closing_time %}{{ daycare.closing_time }} {% else %} 5:00 PM {% endif %}</div>
                        {% if daycare.capacity %}
                          <div>Capacity: {{ daycare.capacity }}</div>
                          <div>Current Students: {{ daycare.student_count() }}</div>
                        {% endif %}
                        <a href="{{ url_for('daycare', id=daycare.id, name=daycare.name) }}" class="btn btn-primary">See full info</a>
                    </div>
                    <div class="col-4">
                        <img style="width: 100%" src="{% if daycare.profile_pic %}{{ daycare.profile_pic }}{% else %} {{ url_for('static', filename='house-heart.svg') }}{% endif %}" alt="Daycare Profile Pic">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
<!--          <div style="width:100%;height:90%;position:fixed;right:0;top:0;" id="map">
            outer div
          </div> -->
    </div>
</div>

{% endblock %}

{% block styles %}
{{ super() }}
<link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
<style>
</style>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
<script src="{{ url_for('static', filename='map.js') }}"></script>

<div id="popper" style="display:none;position:absolute;top:5vh;left:5vw;width:90vw;height:90vh;overflow:hidden;border:1px solid;z-index:1">
  <div id="googleMap" style="width:100%;height:100%"></div>
</div>
<button id="popbut" class="btn btn-secondary btn-sm" style="display:none;position:absolute;top:5.5vh;left:45vw;z-index:2" onClick="popperOpen(false)">close</button>

<script>
  function popperOpen(isOpen) {
      if(isOpen) {
          document.getElementById("popper").style.display = "block";
          document.getElementById("popbut").style.display = "block";
      }
      else {
          document.getElementById("popper").style.display = "none";
          document.getElementById("popbut").style.display = "none";
      }
  }

  function setupPoints(map, infos) {
    for(let i = 0; i < infos.length; i++) {
      const infoWindow = new google.maps.InfoWindow({
        content: infos[i].description,
        ariaLabel: infos[i].name,
      });
      const marker = new google.maps.Marker({
        position: infos[i].pos,
        map: map,
        title: infos[i].name,
      });
      marker.addListener("click", () => {
        infoWindow.open({
          anchor: marker,
          map,
        });
      });  
      infos[i].marker = marker;
      infos[i].infoWindow = infoWindow;
    }
  }

function setupMap() {
  let posRegina = new google.maps.LatLng(50.4452, -104.6189);
  var mapProp= {
    center: posRegina, // Regina
    zoom:15,
  };
  var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

  let infos = [

  {% for daycare in daycares %}
    {
      name: "{{ daycare.name }}",
      pos: new google.maps.LatLng({{ daycare.lat }}, {{ daycare.lng }}),
      description: `<div class="col-8">
                    <h5 class="card-title">{{ daycare.name }}</h5>
                    <div class="card-text">Type: {{ daycare.about }}</div>
                    <div>Address: {{ daycare.full_address() }}</div>
                    <div>Phone no.: {{ daycare.phone_no }}</div>
                    <div>Timings: {% if daycare.opening_time %}{{ daycare.opening_time }} {% else %} 8:00 AM {% endif %} - {% if daycare.closing_time %}{{ daycare.closing_time }} {% else %} 5:00 PM {% endif %}</div>
                    <div>Capacity: {{ daycare.capacity }}</div>
                    <div>Current Students: {{ daycare.student_count() }}</div>
                    <a href="{{ url_for('daycare', id=daycare.id, name=daycare.name) }}" class="btn btn-primary">See full info</a>
       </div>`,
    },
/*      
	      })}; */
  {% endfor %}
      ];

  setupPoints(map, infos);
}


</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY3cTla3USGr3pChN0e9kqaJxcdtDPpsY&callback=setupMap"></script>


{% endblock %}
