{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 co-sm-12 col-xs-12 login_form_cont mt-2">
            <h3>Login</h3>
			  {{ wtf.quick_form(form)}}
          <div style="margin-top: 20px;"><a type="button" class="btn btn-primary" href="{{ url_for('register')}}">New user? Register</a></div>
            <div><a href="{#{{ url_for('reset_password_request') }}#}">Forgot your password</a></div>
        </div>

      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <img src="{{ url_for('brand_logo') }}" id="login_logo">
      </div>
    </div>

</div>

{% endblock %}

{% block styles %}
{{ super() }}
<style>
#login_logo {
    width: 40vw;
}

@media screen and (max-width: 1000px) {

    #login_logo {
        display: none;
    }

}

</style>
{% endblock %}
