{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>{{ current_user.name }}</h3>
                {% if current_user.street %}
                    <p>Address: {{ current_user.full_address() }}</p>
                {% endif %}
                {% if current_user.phone_no %}
                    <p>Phone no: {{ current_user.phone_no }}</p>
                {% endif %}
        </div>
    </div>

    <h4>Children</h4>
    <div id="childrenContainer"></div>
    {#{% for child in current_user.children %}
    <div class="col-12">
        <div>Name: {{ child.name }}</div>
        <div>DOB: {{ child.birth_date.strftime('%b %d, %y') }}</div>
    </div>
    {% endfor %}#}
    <div style="margin-top:2em;max-width:20em">
        <h4>Add Child Form</h4>
        {{ wtf.quick_form(form) }}
    </div>

</div>

{% endblock %}

{% block styles %}
{{ super() }}
<link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
<style>
</style>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
<script>
var children = []
{% for child in current_user.children %}
    children.push(["{{ child.name }}", "{{ child.birth_date.strftime('%b %d, %y') }}", "{{ child.current_daycare().name }}"])
{% endfor %}


new window.gridjs.Grid({
  columns: ["Name", "Birth Date", "Daycare"],
  data: children
}).render(document.getElementById("childrenContainer"));
</script>
{% endblock %}
