{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <div class="d-flex flex-row">
        <div class="p-2" style="max-width:20em">
            <h3>User Registration Form</h3>
          <div>
            {{ wtf.quick_form(reg_form)}}
              <h4>Password requirements!</h4>
              <ul>
                  <li>Password length should be at least 8 characters.</li>
                  <li>Password should have at least:
                      <ul>
                          <li>One number</li>
                          <li>One uppercase letter</li>
                          <li>One lowercase letter</li>
                          <li>One special character</li>
                      </ul>
              </ul>
          </div>
          <div style="margin-top: 1em;">
              <a type="button" class="btn btn-primary" href="{{ url_for('login')}}">Already registered? Login!</a>
          </div>
        </div>
        <div class="p-2">
          <img src="{{ url_for('brand_logo') }}" id="login_logo">
        </div>
    </div>

</div>

{% endblock %}

{% block styles %}
{{ super() }}
<style>
#login_logo {
    width: 40vw;
}

@media screen and (max-width: 1000px) {

  #login_logo {
        display: none;
    }
}

<script src="https://www.google.com/recaptcha/api.js"></script>

</style>
{% endblock %}